*{
	font-family: Verdana, arial, sans-serif;
}

body {
	background-color: rgb(30, 30, 30);
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: rgb(255, 0, 0);
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/website.jpg.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: rgb(0, 255, 255);
	}
	
h1 {
	font-size: 90px;
	font-family: 'Times New Roman';
	}
aside {
	float: right;
	width: 20%;
	background-color: rgb(255, 255, 255);
	color: rgba(128, 128, 128, 0.829);
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #ffffff;	/*lichtgrijs*/
	color: rgba(0, 0, 0, 0.995);
	}
	
footer {
	clear: both;
	text-align: center;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
}
p.inleiding {
    font-style: italic;
    font-weight: bold;
	color: rgb(255, 0, 0);
    }
p.citaat{
	font-style: italic;
	margin: 40px
}